/* QUESTINO 02 FROM 43-48 */

/* .content-container{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}
.para{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 75px;
} */

/* ================================================= */

/* QUESTINO 03 FROM 43-48 */
/* table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background-color: #f2f2f2;
}
.delete-button {
    padding: 5px 10px;
    color: #fff;
    background-color: #e74c3c;
    border: none;
    cursor: pointer;
} */